/*
Theme Name: Tema Ibram 2025
Theme URI: https://www.gov.br/museus/pt-br
Template: blocksy
Author: CTINF / joao.aguiar
Author URI: https://github.com/joaoguiaguiar
Description: Este tema foi desenvolvido pela CTINF para os sites institucionais do Ibram, como resposta a incidentes de segurança enfrentados anteriormente. Trata-se de um tema filho do Blocksy, altamente personalizado para oferecer segurança, desempenho e facilidade de uso.
Version: 1.0.0
Updated: 2025-05-27
*/